doctype 
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/main.min.css")
        title= "Главная страница"
    body
      include sections/header  
						
						



           
             
        
                