doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/main.min.css")
        title= "Главная страница"
    body
        div.wrapp#main 
            
            div.content 
                p "Какой то текст"
                p Lorem 
                p Lorem2 
                p "text and"


           
             
        
                